


:root{
    --primary-color:#d9534f;
    --secondary-color:#999999;
}

html{
    height: 100%;
}

body{
    font-size: 1rem;
    
}

.container-fluid{
    padding: 1rem;;
}
/* -------------------------------------------------------sections----- */

/* header */
header{
    width: 100%;
}


/* nav */

.nav-link{
    text-transform: uppercase;
}

/* main */
main{
    width: 100vw;
}


/* Jumbotron */

.jumbotron{
    background-image: url("../images/hero-image.jpg");
    background-attachment: fixed;
}
.modal-content{
    background-color: var(--primary-color);
}
.modal-header{
    height: 50px;
}
.modal-body{
    width: auto;
}
.modal-body iframe{
    max-width: 100vw;
}


/* get involved */

#get-involved{
    background-color:#e9e9e2;
}

/* Footer */
footer{
    height: 200px;
}
#back-to-top{
    background-color:var(--primary-color);
    padding: 2rem;
}

/* -------------------------------------------------------formatting----- */

h1{
    padding: 1rem;
}

h2{
    padding-top:1rem;
    color: var(--primary-color);
    text-transform: uppercase;
}
h3{
    color: var(--primary-color);;
    font-size: 1.4rem;
    text-transform: uppercase;
}
p{
    font-weight: lighter;
    margin-bottom: none;
}
hr{
    display: block;
    border: 0.5px solid var(--primary-color);
    color: #d9534f;
}
em{
    text-transform: uppercase;
    font-style: normal;
    font-size: 1rem;
}
em small{
    text-transform: none;
}
strong{
    color: var(--primary-color);
    text-transform: uppercase;
}

/* -------------------------------------------------------icons----- */


.fa-arrow-circle-up:active{
    color: white;
}


/* -------------------------------------------------------buttons----- */

.btn{
    font-weight: lighter;
}
.btn-lg{
    margin: 1rem;
    border: none;
}
.btn-outline-danger{
    background-color: white;
    border: 1px solid var(--secondary-color);
}


/* end of code */